*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(kuusk.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
 
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a
{
    border: 1px solid white;
}

.main-nav li a:hover
{
    border: 1px solid white;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 1200px;
    margin: auto;
}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 400px;
}

.jõulutoidud
{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 25px
   
}

.toidudvarem
{
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(150, 0, 0);
}

.toidudpraegu
{
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(0, 150, 0);
}

.jõulujoogid
{
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 25px;
    color: rgb(0, 0, 150);
}

.vanadtoidud
{
    margin-left: 60px;
    margin-bottom: 15px;
    font-size: 18px;
    color: rgb(150, 0, 0);
}

.uuedtoidud
{
    margin-left: 60px;
    margin-bottom: 15px;
    font-size: 18px;
    color: rgb(0, 150, 0);
}

.joogid
{
    margin-left: 60px;
    margin-bottom: 15px;
    font-size: 18px;
    color: rgb(0, 0, 150);

}

*
{
    box-sizing: border-box;
}

.column 
{
    float: left;
    width: 33.33%;
    padding: 10px;
    
}


.row::after 
{
    content: "";
    display: table;
    clear: both;
}